---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 aitji" description="page not found">
  <main class="not-found container">
    <div class="nf-inner">
      <p class="nf-code">404</p>
      <h1 class="nf-title">nothing here</h1>
      <p class="nf-sub muted">
        this page doesn't exist (or i deleted it, whoops)
      </p>
      <a href="/" class="nf-home">back?</a>
    </div>
  </main>
</Layout>

<style>
  @import "../styles/404.css";
</style>
